#avatar {
  height: 256px;
  width: 256px;
  border-radius: 50%;
}

#email {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
  text-align: left;
}

.item {
  align-items: center !important;
  height: 85px;
  margin: 0 10px 30px;
  padding: -5px;
  place-content: center !important;
}

.card-item-icon {
  background: white;
  padding: 5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.grid-filler {
  height: 0;
  width: 240px;
}

.grid-list {
  margin: 0 -10px;
}

.header {
  margin-top: 32px !important;
}

.smooth-text {
  hyphens: auto;
  overflow: auto;
  text-align: justify;
  word-break: break-word;
}
